<h1>LunchMailer#data_update_notification</h1>

<h2><%= @greeting %>,</h2>
<p>Thank you for eating another Pepper Lunch! We're <b>so excited</b> that you've come back again and again.</p>
<p>We'd like to offer you a special program for our VIP customers. Track your PepperLunch and there will be some special discounts for you.</p> 

<p>Here's the link to our Secret PepperLunch site:</p>

<p>See you again next week ;)<p>

 <p>-PepperLunch Masterchef<p>