<div class="row">
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
</div>
<div class="row">
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
</div>
<div class="row">
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
  <div class="col-md-2">PEPPER</div>
</div>
